body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

table,tr,td {
	cellpadding: 0px;
	cellspacing: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	border-style: none;
}

.loginTable {
	font-family: ו;
	font-size: 14px;
	color: #376a81;
}

.textfield {
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-weight: normal;
	border-left: #000000 1px solid;
	color: #105194;
	border-bottom: #000000 1px solid;
	font-family: "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	font-size: 14px;
}